<div class="col s4">
<div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="responsive-img activator" src="https://dealmarkaz.pk/oc-content/themes/DealMarkaz/images/user-default-profile-pict.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{name}}<i class="material-icons right">more_vert</i></span>
      <p>{{#link-to 'developer-detail' developer.id}}{{developer.github}}{{/link-to}}</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{developer.firstName}}<i class="material-icons right">close</i></span>
      <p><strong>{{developer.bio}}</strong></p>
      <p><strong>Email:</strong>{{developer.email}}</p>
    </div>
  </div>
</div>
