{{#if addNewAnswer}}
   <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    {{input id='author' value=author type='text' class='validate' placeholder='author'}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{input id='content' value=content type='text' class='validate' placeholder='content'}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{input id='subject' value=subject type='text' class='validate' placeholder='subject'}}
                </div>
            </div>
            <button {{action 'saveAnswer'}}  class="btn green right">Answer</button>
            <button {{action 'cancelAnser'}}  class="btn green right">Cancel<i class="material-icons">cancel</i></button> <!-- This label aloows the usere to cancel the form incase they do not want to answer. -->
        </form>   
    </div> 
{{else}}
<div class="center">
    <button {{action 'answerFormShow'}} class="btn green">new answer</button>
</div>
{{/if}}