<div class="container">
{{#if addNewQuestion}}
    <button {{action 'questionFormShow'}} class="btn  waves-effect waves-light center">add new question</button>
    {{else}}
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          {{input id="author" value=author type="text" class="validate"}}
          <label for="author">Author: </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{input id="quiz" value=quiz type="text" class="validate"}}
          <label for="quiz">Question</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{textarea id="content" value=content type="text" class="materialize-textarea"}}
          <label for="content">Content</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{input id="additionalContent" value=additionalContent type="text" class="validate"}}
          <label for="additionalContent">Additional Content</label>
        </div>
      </div>
      <button {{action 'saveQuestion1'}} class='btn  waves-effect waves-light'>save question <i class="material-icons">send</i></button>
      <button {{action 'cancelQuestion'}} class='btn  waves-effect waves-light'>Cancel<i class="material-icons">cancel</i></button>
    </form>
  </div>
        
{{/if}}
</div>