<div class="card-panel">
    <div class="center">
     <img src="http://i.imgur.com/iLWQrBo.png" alt="">        
    </div>
</div>
<div class="parallx">
    <div class="center">
        <h4>{{question.quiz}}</h4>
        <hr>
    </div>

<div class="chip">{{question.author}}</div> asks: <br>
<br>    
<p>{{question.content}}
{{question.additionalContent}}</p>
</div>

<h2>Answers for this question</h2>

<div class="row">
    {{#each question.answers as |answer|}}
        {{answer-tile answer=answer destroyAnswer="destroyAnswer" like='like' dislike='dislike'}}
    {{/each}}
</div>

<div class="center">
{{!-- <button {{action 'delete' question}} class="btn red">delete question</button> --}}
</div>