 {{!--
<p>
    Hello {{model.lastName}}
</p> --}}
<div class="container">
    <div class="row">
        <div class="col s6 offset-s3 ">
            <div class="card">
                <div class="card-image">
                    <img src={{model.image}}>{{edit-developer saveChanges="saveChanges"}}
                    <span class="card-title">Developer Details</span>
                    
                </div>
                <div class="card-content dev">
                    <ul>
                        <p style="font-size:20px;"><i class="material-icons" id="icon">verified_user</i> Full Name: {{model.firstName}} {{model.lastName}}</p>
                        <p style="font-size:20px;"><i class="material-icons" id="icon">link</i> Github User Name: {{model.github}}</p>
                        <p style="font-size:20px;"><i class="material-icons" id="icon">email</i> Email: {{model.email}}</p>

                        <p style="font-size:20px;"><i class="material-icons" id="icon">person</i> Bio: {{model.bio}}</p>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>