<div class="row">
{{#each model as |repo|}}
  <div class="col m4">
    <div class="card devlink-repo blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">  <strong>{{repo.name}}</strong>:</span> <hr>
        <div class='center'>
          <div class=' '>
           {{repo.description}}
          </div>
        </div>
          <div class='row'>
          <div class='col m6'>
            <a href='{{repo.html_url}}' target='_blank' class='btn btn-info'>Repo</a>
          </div>
          <div class='col m6'>
            <span class="new badge blue">Forks: {{repo.forks_count}}</span><br>
            <span class="new badge red">Watchers: {{repo.watchers_count}}</span><br>
            <span class="new badge green">Stars: {{repo.stargazers_count}}</span><br>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}
</div>
