<div class="routable-modal--dialog">
    <div class="routable-modal--content">
        <div class="routable-modal--header">
            {{routable-modal-close-button class="routable-modal--close"}}
            <h4 class="routable-modal--title">Modal title</h4>
        </div>
        <div class="routable-modal--body">
            <form class="col s6">
                <div class="row">
                    <div class="input-field col s3">
                        {{input id="first_name" type="text" class="validate" value=firstName}}
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s3">
                        {{input id="last_name" type="text" class="validate" value=lastName}}
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        {{input id="email" type="email" class="validate" value=email}}
                        <label for="email">Email</label>
                    </div>

                    <div class="input-field col s3">
                        {{input id="github" type="text" class="validate" value=github}}
                        <label for="github_name">GitHub User Name</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" {{action 'saveDeveloper'}} name="action">Submit <i class="material-icons right">send</i></button>
                <button class="btn waves-effect waves-light" {{action 'cancelFrom'}}>Cancel</button>
            </form>
        </div>
    </div>
</div>